
<carousel>
  <slide>
    <img src="assets/images/products/monitor.jpg" alt="first slide" class="img" srcset="">
  </slide>
  <slide>
    <img src="assets/images/products/tablet.jpg" alt="first slide" class="img" srcset="">
  </slide>
  <slide>
    <img src="assets/images/products/mouse-2.jpg" alt="first slide" class="img" srcset="">
  </slide>
</carousel>
<section class="featured">
  <div class="d-flex justify-content-center pt-4">
    <h1>E-Ticaret Sitemize Hoş Geldiniz</h1>
  </div>
</section>

